In [214]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [215]:
df = pd.read_csv("cuentas_credicel.csv", encoding="latin")
df.head(5)

/var/folders/rn/3d02syds5p99hnhh5p4p92jh0000gn/T/ipykernel_5721/2474774851.py:1: DtypeWarning: Columns (26,31,33,34) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("cuentas_credicel.csv", encoding="latin")

,folio,tag,folio_solicitud,fecha,marca,modelo,plazo,precio,enganche,descuento,...,porc_enganche,porc_tasa,score_buro,razones_buro,semana_actual,codigo_postal,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36
0,3,HDNAWQ3A,30,12/11/2021 19:00,ZTE,Blade A3 2020 RO B,26S,1949.0,780.0,0.0,...,NaN,0.0,0.0,0,0.0,0,NaN,NaN,26.0,NaN
1,4,M418YNR4,33,12/11/2021 19:15,MOTOROLA,LTE XT2097-12 E7I POWER Azul,13S,2999.0,1050.0,0.0,...,NaN,0.0,0.0,0,0.0,0,NaN,NaN,13.0,NaN
2,5,SZ7V3NZT,37,13/11/2021 14:13,ZTE,BLADE A3 2020 Gris,13S,1959.0,490.0,0.0,...,0.0,0.0,0.0,0,0.0,NaN,NaN,74,NaN,NaN
3,6,9I08UIQZ,38,13/11/2021 15:45,ZTE,BLADE A3 2020 Gris,13S,1959.0,490.0,0.0,...,NaN,0.0,0.0,0,0.0,0,NaN,NaN,13.0,NaN
4,7,JMF4LKYU,44,13/11/2021 16:10,MOTOROLA,G10 B,39S,4299.0,1075.0,0.0,...,0.0,0.0,0.0,NaN,NaN,74,NaN,NaN,NaN,NaN

In [216]:
#Todas las columnas excepto
cols_drop = ["folio", "folio_solicitud","Unnamed: 33", "Unnamed: 34", "Unnamed: 35", "Unnamed: 36"]
df = df.drop(columns=[c for c in cols_drop if c in df.columns])
df.head(5)

,tag,fecha,marca,modelo,plazo,precio,enganche,descuento,semana,monto_financiado,...,fecha_pago_proximo,status_cuenta,puntos,riesgo,porc_enganche,porc_tasa,score_buro,razones_buro,semana_actual,codigo_postal
0,HDNAWQ3A,12/11/2021 19:00,ZTE,Blade A3 2020 RO B,26S,1949.0,780.0,0.0,81,1169.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0,0.0,0
1,M418YNR4,12/11/2021 19:15,MOTOROLA,LTE XT2097-12 E7I POWER Azul,13S,2999.0,1050.0,0.0,225,1949.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0,0.0,0
2,SZ7V3NZT,13/11/2021 14:13,ZTE,BLADE A3 2020 Gris,13S,1959.0,490.0,0.0,170,1469.0,...,NaN,NaN,NaN,Cancelado,0.0,0.0,0.0,0,0.0,NaN
3,9I08UIQZ,13/11/2021 15:45,ZTE,BLADE A3 2020 Gris,13S,1959.0,490.0,0.0,170,1469.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0,0.0,0
4,JMF4LKYU,13/11/2021 16:10,MOTOROLA,G10 B,39S,4299.0,1075.0,0.0,178,3224.0,...,12/03/2022 00:00,Mora,0.0,0,0.0,0.0,0.0,NaN,NaN,74

In [217]:
#todas las filas multiplos de 4
df = df.iloc[::4, :]
df.head(5)

,tag,fecha,marca,modelo,plazo,precio,enganche,descuento,semana,monto_financiado,...,fecha_pago_proximo,status_cuenta,puntos,riesgo,porc_enganche,porc_tasa,score_buro,razones_buro,semana_actual,codigo_postal
0,HDNAWQ3A,12/11/2021 19:00,ZTE,Blade A3 2020 RO B,26S,1949.0,780.0,0.0,81,1169.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0,0.0,0
4,JMF4LKYU,13/11/2021 16:10,MOTOROLA,G10 B,39S,4299.0,1075.0,0.0,178,3224.0,...,12/03/2022 00:00,Mora,0.0,0,0.0,0.0,0.0,NaN,NaN,74
8,5SDZN7O1,14/11/2021 13:34,KODAK,LTE SEREN D60LX Azul,26S,2889.0,1000.0,0.0,131,1889.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0,0.0,0
12,BFXA3OX9,15/11/2021 12:10,MOTOROLA,MOTO G60 6+128 GB GRIS B,26S,6999.0,1750.0,0.0,363,5249.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0,0.0,0
16,X53IWV9M,16/11/2021 13:35,ALCATEL,5007A 1V 2020 Negro,13S,2799.0,2000.0,0.0,92,799.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0,0.0,0

In [218]:
#Todos los registros cuya marca sea igual a: "ALCATEL", "MOTOROLA", "NOKIA", "ZTE" y "SAMSUNG"
df["marca"].unique()
filtroc = ["ALCATEL", "MOTOROLA", "NOKIA", "ZTE", "SAMSUNG"]
df = df[df["marca"].isin(filtroc)]
df.head(5)

,tag,fecha,marca,modelo,plazo,precio,enganche,descuento,semana,monto_financiado,...,fecha_pago_proximo,status_cuenta,puntos,riesgo,porc_enganche,porc_tasa,score_buro,razones_buro,semana_actual,codigo_postal
0,HDNAWQ3A,12/11/2021 19:00,ZTE,Blade A3 2020 RO B,26S,1949.0,780.0,0.0,81,1169.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0,0.0,0
4,JMF4LKYU,13/11/2021 16:10,MOTOROLA,G10 B,39S,4299.0,1075.0,0.0,178,3224.0,...,12/03/2022 00:00,Mora,0.0,0,0.0,0.0,0.0,NaN,NaN,74
12,BFXA3OX9,15/11/2021 12:10,MOTOROLA,MOTO G60 6+128 GB GRIS B,26S,6999.0,1750.0,0.0,363,5249.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0,0.0,0
16,X53IWV9M,16/11/2021 13:35,ALCATEL,5007A 1V 2020 Negro,13S,2799.0,2000.0,0.0,92,799.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0,0.0,0
20,C9LVYPGM,17/11/2021 16:28,ZTE,LTE A5 2020 64GB R Azul,26S,2499.0,625.0,0.0,130,1874.0,...,17/03/2022 00:00,Mora,0.0,0,0.0,0.0,0.0,NaN,NaN,74

In [219]:
#Todos los registros cuyo enganche se encuentre entre: "$500 y $2000"
df["enganche"] = (df["enganche"].astype(str).str.replace(r"[^\d\.]", "", regex=True).astype(float))
df = df[(df["enganche"] >= 500) & (df["enganche"] <= 2000)]
df.head(5)

,tag,fecha,marca,modelo,plazo,precio,enganche,descuento,semana,monto_financiado,...,fecha_pago_proximo,status_cuenta,puntos,riesgo,porc_enganche,porc_tasa,score_buro,razones_buro,semana_actual,codigo_postal
0,HDNAWQ3A,12/11/2021 19:00,ZTE,Blade A3 2020 RO B,26S,1949.0,780.0,0.0,81,1169.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0,0.0,0
4,JMF4LKYU,13/11/2021 16:10,MOTOROLA,G10 B,39S,4299.0,1075.0,0.0,178,3224.0,...,12/03/2022 00:00,Mora,0.0,0,0.0,0.0,0.0,NaN,NaN,74
12,BFXA3OX9,15/11/2021 12:10,MOTOROLA,MOTO G60 6+128 GB GRIS B,26S,6999.0,1750.0,0.0,363,5249.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0,0.0,0
16,X53IWV9M,16/11/2021 13:35,ALCATEL,5007A 1V 2020 Negro,13S,2799.0,2000.0,0.0,92,799.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0,0.0,0
20,C9LVYPGM,17/11/2021 16:28,ZTE,LTE A5 2020 64GB R Azul,26S,2499.0,625.0,0.0,130,1874.0,...,17/03/2022 00:00,Mora,0.0,0,0.0,0.0,0.0,NaN,NaN,74

In [220]:
#Todos los registros cuya categoría en riesgo: NO sea "Cancelado" ni "Fraude"
df = df[~df["riesgo"].isin(["Cancelado", "Fraude"])]
df.head()

,tag,fecha,marca,modelo,plazo,precio,enganche,descuento,semana,monto_financiado,...,fecha_pago_proximo,status_cuenta,puntos,riesgo,porc_enganche,porc_tasa,score_buro,razones_buro,semana_actual,codigo_postal
0,HDNAWQ3A,12/11/2021 19:00,ZTE,Blade A3 2020 RO B,26S,1949.0,780.0,0.0,81,1169.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0,0.0,0
4,JMF4LKYU,13/11/2021 16:10,MOTOROLA,G10 B,39S,4299.0,1075.0,0.0,178,3224.0,...,12/03/2022 00:00,Mora,0.0,0,0.0,0.0,0.0,NaN,NaN,74
12,BFXA3OX9,15/11/2021 12:10,MOTOROLA,MOTO G60 6+128 GB GRIS B,26S,6999.0,1750.0,0.0,363,5249.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0,0.0,0
16,X53IWV9M,16/11/2021 13:35,ALCATEL,5007A 1V 2020 Negro,13S,2799.0,2000.0,0.0,92,799.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0,0.0,0
20,C9LVYPGM,17/11/2021 16:28,ZTE,LTE A5 2020 64GB R Azul,26S,2499.0,625.0,0.0,130,1874.0,...,17/03/2022 00:00,Mora,0.0,0,0.0,0.0,0.0,NaN,NaN,74

In [221]:
#Todos los registros cuya fecha : Sea posterior a "15/11/2021"
df["fecha"] = pd.to_datetime(df["fecha"],errors="coerce")
df = df[df["fecha"] > pd.to_datetime("15/11/2021")]
df.head()

/var/folders/rn/3d02syds5p99hnhh5p4p92jh0000gn/T/ipykernel_5721/1137641792.py:3: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df = df[df["fecha"] > pd.to_datetime("15/11/2021")]

,tag,fecha,marca,modelo,plazo,precio,enganche,descuento,semana,monto_financiado,...,fecha_pago_proximo,status_cuenta,puntos,riesgo,porc_enganche,porc_tasa,score_buro,razones_buro,semana_actual,codigo_postal
0,HDNAWQ3A,2021-12-11 19:00:00,ZTE,Blade A3 2020 RO B,26S,1949.00,780.0,0.0,81,1169.00,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0,0.0,0
84,WX7FL7BQ,2021-12-12 12:52:00,MOTOROLA,LTE XT2128-1 G20 Rosa,13S,4599.00,1150.0,0.0,398,3449.00,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0,0.0,0
196,WSD10AZY,2022-02-01 14:01:00,MOTOROLA,LTE XT2097-12 E7I POWER Azul,39S,3508.83,1053.0,300.0,135,2455.83,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0,0.0,0
200,P79XC211,2022-03-01 15:04:00,MOTOROLA,G10 B,13S,4900.86,1225.0,500.0,424,3675.86,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0,0.0,0
204,SYAT061H,2022-03-01 17:01:00,MOTOROLA,XT2155-1 MOTO E20-1 AZUL,13S,4138.85,1035.0,400.0,358,3103.85,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0,0.0,0

In [222]:
df.to_csv("evaluacion3.csv")